*{
  		margin: 0;
  		padding: 0;
  		list-style: none;
  	}
    #menu_control{
      position: absolute;
      z-index: -2;
      opacity: 0;
    }
  	.header{
      width: 100%;
      max-width: 100%;
  		height: 20vh;
  		background-color: rgba(37,58,77,1);
  		position: relative;
    
  	}
  	.logo{

  		width: 60px;
  		height: 40px;
      margin-left: 10px;
  	}
    .logo a{
      display: block;
      height: 40px;
    }
  	.logo img{
       position: absolute;
      top: 20px;
      left: 50px;
    display: block;
    padding-top: 5px;
  	}
  	.menu_btn{
  		width: 40px;
  		height: 40px;
  		background-color: #000;
  		display: block;
  		position: absolute;
  		top: 30px;
  		right: 10px;
      border-radius:5px;
  	}
    .menu_btn span{
      opacity: 0;
    }
    .menu_btn::before{
      content: '';
      position: absolute;
      height: 2px;
      left: 2px;
      width: 36px;
      background-color: #aaa;
      top: 0;
      bottom: 0;
      margin: auto;
      box-shadow: 0px 8px 0px #aaa,0px -8px 0px #aaa;
    }
    nav{
      width: 100%;
      height:25vh;
      background-color: rgba(37,58,77,1);
      position: absolute;
      top: -100px;
      left: 0px;
      transition: .5s;
      z-index: -2;
    }
    nav a{
      display: block;
      font-size:24px;
      font-family: "微軟正黑體";
      text-decoration: none;
      color: #a6e22c;
      padding: 12px 20px;
      color: #fff;
      font-weight: bold;
    }
    nav a:hover{
      color: #FF8040;
      transition: .5s;
    }
    #menu_control:checked ~ .header nav{
      top: 20vh;
    }

    .logotext{
   text-align: center;
     font-size: 72px;
     font-weight: bold;
     font-family: sans-serif;
     color: #fff;
     z-index: -1000;
          }
    .banner{

    }
    .banner img{
      position: absolute;
      top:20vh;
      left: 0;
      width: 100%;
      max-width: 2400px;
      height: auto;
      z-index: -10;
      -webkit-filter:brightness(.6);

    }


.origin{
  width: 100%;
  position: absolute;
  top: 50vh;
  left: auto;


}
.origin img{
  width: 90%;
  display: block;
  margin:  0 auto;
}
.origin h1,.features h1{
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
  font-family: Microsoft JhengHei;
  font-weight: bold;
}
.origin p{
  color: #333;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  font-family: Microsoft JhengHei;
  line-height: 1.6;
  padding: 20px;

}
.features img{
  width: 70%;
  margin-top: 30px;
}
.features h2,.use h2{
  font-size: 20px;
  font-weight: bold;
  font-family: Microsoft JhengHei;
  text-align: center;
  margin-top: 10px;
}
.features h2:hover,.use h2:hover{
  color: #F75000;
  transition: .5s;
}
.features p:hover~h2{
    color: #F75000;
  transition: .5s;
}
.introduction img{
  width: 90%;
  margin-top: 20px;
}


/*-----team----------*/
.team{
  width: 100%;
  position: absolute;
  top: 50vh;
  left: auto;

}
.teams{
  width: 70%;
  display: block;
  margin: auto;
  height: 100%;
}
.people{
  width: 250px;
  height: 700px;
  border: 1px solid #000;
  margin: 20px auto;
  background-color: #fff;


}
.people img{
  width: 60%;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 10px;
}
.people p{
  padding: 20px;
  color: #555;
}

/*--------system--------*/
.system{
  width: 100%;
  position: absolute;
  top: 50vh;
  left: auto;
}
.systems{
  padding-top: 20px;
  width: 100%;
  display: block;
  margin: auto;
  height: 100%;
}
.phone{
  width: 90%;
  height: auto;
  margin-right: 20px;
  background-color: #fff;
  position:relative;
  margin-bottom: 50px;


}
.phone img{
  width: 70%;
  display: block;
  margin: auto;
-webkit-filter:brightness(.3);
}

.phone img:hover ~.middle{
opacity: 1;
}
.middle:hover{
  opacity: 1;
}
.phone a{
  text-decoration: none;
}
.middle{

  width: 70%;
  height:70%;

  transition: .5s ease;
  opacity:0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.phonetext{
  line-height: 300px;
  color: #fff;
  font-size: 40px;
  font-family: Microsoft JhengHei;
  font-weight: bold;

}



/*-------frontend------------*/
.frontend{
   width: 100%;
  position: absolute;
  top: 50vh;
  left: auto;

}
.icon{
  width: 100%;
  text-align: center;
  
}
.icon img{
  width: 50%;
  margin-top: 20px;
  margin-bottom: 100px;
}
.page{

   width: 80%;
   display: block;
margin: auto;
}

.pages img{
  width: 80%;
margin-left: 10%;

}
.pages h1{
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-family: Microsoft JhengHei;
  color: #003060;
}
.pages h1:hover{
  color: #F75000;
  transition: .5s;
}
.pages p{
  width: 200px;
  height: 150px;
  text-align: center;
  margin: auto;
  font-size: 16px;
  font-family: Microsoft JhengHei;
  color: #999;

}
/*--------------------*/
/*------------------*/

.footer{
  background-color: #000;
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 100%;
  position: relative;
  left: 0;
  font-family: Microsoft JhengHei;
  bottom: 0;

}

    @media screen and (min-width: 768px){
        #menu_control:checked ~ .header nav{
      top: 0vh;
    }

         #menu_control{
      position: absolute;
      z-index: -2;
      opacity: 0;

    }
      .menu_btn{
        display: none;
      }
      .header{
        display: flex;
        justify-content: space-between;
        background-color: #282923;
        align-items: center;
            background-color: transparent;
      }
      nav{
        z-index: 2;
        position: relative;
        left: -10px;
        display: flex;
        width: auto;
        height: auto;
        top: -10px;
        background-color: transparent;
      }
      nav a{
        border-bottom: none;


      }
      .logo img{
    display: block;
    padding-top: 20px;
    }
    .banner{
      width: 200vh;
    }
    .banner img{
      position: absolute;
      top:0vh;
      left: 0;
      z-index: -10;
    }


/*---------index----------*/
.origin{
  width: 100%;
  position: absolute;
  top: 60vh;
  left: auto;


}
.origin img{
  width: 700px;
  display: block;
  margin:  0 auto;
}
.origin h1{
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}
.origin p{
  width: 50%;
  margin: 0 auto;
  color: #333;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  font-family: Microsoft JhengHei;
  line-height: 1.6;
  padding: 20px;

}
.features ul,.use ul{
  display: flex;
  margin: 0 auto;
}
.features img,.use img{
  width: 250px;
  margin-top: 30px;
}
.features h2,.use h2{
  font-size: 20px;
  font-weight: bold;
  font-family: Microsoft JhengHei;
  text-align: center;
  margin-top: 10px;
}
.use{
  width: 50%;
  margin: auto;
}
.use li{
  margin-right: 50px;
}
.use p{
  width: 200px;
}

.introduction img{
  width: 700px;
  margin-top: 20px;
}



/*-----------team-------------*/

.team{
  width: 100%;
  position: absolute;
  top: 50vh;
  left: auto;
}
.teams{
  padding-top: 50px;
  width: 70%;
  display: flex;
  margin: auto;
  height: 100vh;
}
.people{
  width: 300px;
  height: 600px;
  border: 1px solid #000;
  margin-right: 20px;
  background-color: #fff;


}
.people img{
  width: 60%;
  display: block;
  margin: auto;
  border-radius: 50%;
}
.people p{
  padding: 20px;
  color: #555;
}
/*---------system------------*/
.system{
  width: 100%;
  position: absolute;
  top: 50vh;
  left: auto;
}
.systems{
  padding-top: 50px;
  width: 70%;
  display: flex;
  margin: auto;
  height: 70vh;
}
.phone{
  width: 500px;
  height: auto;
  margin-right: 20px;
  background-color: #fff;
  position:relative;


}
.phone img{
  width: 70%;
  display: block;
  margin: auto;
-webkit-filter:brightness(.3);
}

.phone img:hover ~.middle{
opacity: 1;
}
.middle:hover{
  opacity: 1;
}
.phone a{
  text-decoration: none;
}
.middle{

  width: 70%;
  height:70%;

  transition: .5s ease;
  opacity:0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.phonetext{
  line-height: 300px;
  color: #fff;
  font-size: 40px;
  font-family: Microsoft JhengHei;
  font-weight: bold;

}

/*-------frontend------------*/
.frontend{
   width: 100%;
  position: absolute;
  top: 60vh;
  left: auto;

}
.icon{
  width: 100%;
  text-align: center;
  
}
.icon img{
  width: 200px;
  margin-bottom: 100px;
}
.page{

   width: 80%;
   display: flex;
margin: auto;
}
.pages{
  margin: auto;
}
.pages img{
  width: 250px;
  margin-left:0;

}
.pages h1{
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-family: Microsoft JhengHei;
}
.pages p{
  width: 200px;
  height: 150px;
  text-align: center;
  margin: auto;
  font-size: 16px;
  font-family: Microsoft JhengHei;
  color: #999;

}
}
